.backimg{
    position: relative;
    width: 640px;
    height: 1080px;
    background-image: url(../Backgrounds/Poster.jpg);
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
}


.btn {
  position: relative;
  background-color: rgb(0,0,0,0);
  border: none;
  color: rgb(0,0,0,0);
}

.btn:hover{
  position: relative;
  background-color: rgb(0,0,0,0);
  border: none;
  color: rgb(0,0,0,0);
}

.btn:focus{
  position: relative;
  background-color: rgb(0,0,0,0);
  border: none;
  color: rgb(0,0,0,0);
}


#one {
    left: 16%;
    top: 28%;
}

#two {
    left: 49%;
    top: 28%;
}

#three {
    left: -24%;
    top: 37%;
}

#four {
    left: 24%;
    top: 39%;
}

#five {
    left: -56%;
    top: 50%;
}

#six {
    left: -13%;
    top: 49%;
}
